qubes.Gpg  *  personal sys-gpg ask        default_target=sys-gpg
qubes.Gpg  *  coding  sys-gpg  ask        default_target=sys-gpg
qubes.Gpg  *  @anyvm  @anyvm  deny
qubes.SshAgent  +coding @anyvm @anyvm ask default_target=sys-ssh-agent
qubes.SshAgent  *      @anyvm  @anyvm deny
qubes.UpdatesProxy  *  @tag:whonix-updatevm  @default  allow  target=sys-whonix
qubes.UpdatesProxy  *  @tag:whonix-updatevm  @anyvm    deny
qubes.Syncthing  *  @anyvm  @anyvm  deny
