qubes.SshAgent  +work  @anyvm  @anyvm ask default_target=sys-ssh-agent
qubes.SshAgent +coding @anyvm  @anyvm ask default_target=sys-ssh-agent
qubes.SshAgent  *      @anyvm  @anyvm deny
qubes.UpdatesProxy  *  @tag:whonix-updatevm  @default  allow target=sys-whonix
qubes.UpdatesProxy  *  @tag:whonix-updatevm  @anyvm    deny
#qubes.UpdatesProxy  *  @type:TemplateVM      @default  allow target=cacher
qubes.Gpg  *  @anyvm  @anyvm ask default_target=sys-gpg
qubes.Syncthing  *  @anyvm  @anyvm  deny
